@import "bootstrap/scss/bootstrap";

.navbar {
  background: #111;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.remove-padding {
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-top: 70px;
}

#home {
  display: grid;
  grid: 1fr;
  grid-template-rows: 92vh;
  background: url("../assets/porc.jpg");
  background-size: cover;
}

#menu {
  p {
    margin: auto 10px;
  }
}

footer {
  height: 50px;
  color: white;
  background: #333;
}
footer li {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  #menu {
    background: #111;
    grid-gap: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
